# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp.*
.yarn

# build intermediates
generated

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# build output
build
.expo
.expo-shared
.serverless
.webpack
*.obj
*.exe
web-build
web-report
